@page {
    size: letter landscape;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11in;
    height: 8.5in;
    page-break-after: always;
}

.flashcard_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 3.5in);
    grid-template-rows: repeat(3, 2.5in);
    gap: 0.05in;
}

.flashcard {
    width: 3.5in;
    height: 2.5in;
    display: flex;
    font-size: 20px;
    background: white;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.main_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 85%;
    width: 90%;
}

.primary {
    font-size: 14px;
    white-space-collapse: preserve;
}

.side {
    height:min-content;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 0 30%;
}

.arrow {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0px 1fr;
    margin: 0;
}

.arrowhead {
    width: 5px;
    height: 5px;
    right:0;
    top:0;
    transform: rotate(45deg);
    border: 1px solid black;
    border-bottom:0;
    border-left:0;
    position: absolute;
}

.arrowhead_placeholder {
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
}

.arrowshaft {
    width:100%;
    border:1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: black;
}

p.reagent_text {
    font-size:14px;
    /*line-height: 0;*/
    /*max-height:10px;*/
    text-wrap: wrap;
    text-align: center;
    line-height: 7px;
}

.hidden {
    color: white;
    border-radius: 0.1in;
    border: 2px solid black;
}

.nothidden {
    width: 70%;
    font-size: 14px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reagent_arrow_wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 20%;
    flex: 0 1 30%;
}

.nothidden p.reagent_text {
    font-size: 18px;
    line-height: normal;
}

.nothidden .card_image img {
    max-height: 1.25in;
}

.side .plus {
    padding:5px;
}

.nothidden .plus {
    padding: 10px;
}


.hidden img {
    visibility: hidden;
}

.hidden p {
    visibility: hidden;
}

.hidden span {
    visibility: hidden;
}

p.compound_title {
    overflow-wrap: break-word;
    margin: 5px;
}

.invisible_flashcard {
    width: 3.5in;
    height: 2.5in;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    background: white;
}

.flashcard img {
    max-width: 100%;
    max-height: 100%;
}