@page {
    size: letter landscape;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11in;
    height: 8.5in;
    page-break-after: always;
}

.flashcard_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 3.5in);
    grid-template-rows: repeat(3, 2.5in);
    /*gap: 0.05in;*/
}

.flashcard {
    width: 3.5in;
    height: 2.5in;
    /*border: 0.5px solid black;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    text-align: center;
    background: white;
    flex-direction: row;
    ;
}

.card_image {
    width: 30%;
    height:min-content;
    line-height: 0;
    font-size: 12px;
}

.hidden {
    color: white;
    border-radius: 0.1in;
    border: 2px solid black;
}

.nothidden {
    width:40%;
    font-size: 16px;
}

.hidden img {
    visibility: hidden;
}

span.arrowlatex {
    font-size: 20px;
    height:min-content;
    width:30%;
}

.invisible_flashcard {
    width: 3.5in;
    height: 2.5in;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    background: white;
}

.flashcard img {
    max-width: 100%;
    max-height: 100%;
}