<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flashcards</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/flashcards.css") }}'>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            TeX: { extensions: ["mhchem.js"] }
        });
    </script>
</head>
<body>

    <!-- First Page: Fronts -->
    {% for page in phc %}
    <div class="page">
        <div class="flashcard_wrapper">
            {% for card in page %}
            {% if card %}
            <div class="flashcard">
                <div class="main_wrapper">
                    <div
                    {% if card["hide"] == 0 %}
                    class="side hidden"
                    {% else %}
                    class="side"
                    {% endif %}
                    >
                        {% for iupac in card["image_reactants"]%}
                        <div class="card_image">
                            <img src='{{ url_for("static", filename="images/" + iupac + ".png") }}'>
                            <!--<p class="compound_title">{{iupac | safe}}</p>-->
                        </div>
                        {% if loop.revindex != 1 %}
                        <span class="plus">+</span>
                        {% endif %}
                        {% endfor %}
                        {% if card["image_reactants"]|length > 0 and card["nonimage_reactants"]|length > 0 %}
                        <span class="plus">+</span>
                        {% endif %}
                        {% for name in card["nonimage_reactants"]%}
                        <p class="compound_title">{{name | safe}}</p>
                        {% if loop.revindex != 1 %}
                        <span class="plus">+</span>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <div
                    {% if card["hide"] == 1 %}
                    class="reagent_arrow_wrapper hidden"
                    {% else %}
                    class="reagent_arrow_wrapper"
                    {% endif %}>
                        <span class="reagent_text">{% for top_reagent in card["top_reagents"] %}{{ top_reagent }}{% if loop.revindex != 1 %}{{"{}"}}\:{% endif %}{% endfor %}</span>
                        <div class="arrow"><span class="arrowhead_placeholder"></span><span class="arrowshaft"></span><span class="arrowhead"></span></div>
                        <span class="reagent_text">{% for bottom_reagent in card["bottom_reagents"] %}{{ bottom_reagent}}{% if loop.revindex != 1 %}{{"{}"}}\:{% endif %}{% endfor %}</span>
                    </div>

                    <div
                    {% if card["hide"] == 2 %}
                    class="side hidden"
                    {% else %}
                    class="side"
                    {% endif %}
                    >
                        {% for iupac in card["image_products"]%}
                        <div class="card_image">
                            <img src='{{ url_for("static", filename="images/" + iupac + ".png") }}'>
                            <!--<p class="compound_title">{{iupac | safe}}</p>-->
                        </div>
                        {% if loop.revindex != 1 %}
                        <span class="plus">+</span>
                        {% endif %}
                        {% endfor %}
                        {% if card["image_products"]|length > 0 and card["nonimage_products"]|length > 0 %}
                        <span class="plus">+</span>
                        {% endif %}
                        {% for name in card["nonimage_products"]%}
                        <p class="compound_title">{{name | safe}}</p>
                        {% if loop.revindex != 1 %}
                        <span class="plus">+</span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% if card["front_description"] != '' %}
                <div class="description">
                    <span class="primary">{{ card["front_description"] }}</span>
                </div>
                {% endif %}
            </div>
            {% else %}
            <div class="invisible_flashcard"></div>
            {% endif %}
            {% endfor %}
        </div> 
    </div>

    <!-- Second Page: Backs -->
    <div class="page">
        <div class="flashcard_wrapper">
            {% for card in bphc[loop.index0] %}
            {% if card %}
            <div class="flashcard">
                <div class="main_wrapper">
                    {% if card["hide"] == 0 %}
                    <div class="side nothidden">
                        {% for iupac in card["image_reactants"]%}
                        <div class="card_image">
                            <img src='{{ url_for("static", filename="images/" + iupac + ".png") }}'>
                            <p class="compound_title">{{iupac | safe}}</p>
                        </div>
                        {% if loop.revindex != 1 %}
                        <span class="plus">$$ + $$</span>
                        {% endif %}
                        {% endfor %}
                        {% if card["image_reactants"]|length > 0 and card["nonimage_reactants"]|length > 0 %}
                        <span class="plus">$$ + $$</span>
                        {% endif %}
                        {% for name in card["nonimage_reactants"]%}
                        <p class="compound_title">{{name | safe}}</p>
                        {% if loop.revindex != 1 %}
                        <span class="plus">$$ + $$</span>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    {% if card["hide"] == 1 %}
                    <div class="reagent_arrow_wrapper nothidden">
                        <span class="reagent_text">{% for top_reagent in card["top_reagents"] %}{{ top_reagent }}{% if loop.revindex != 1 %}{{"{}"}}\:{% endif %}{% endfor %}</span>
                        <div class="arrow"><span class="arrowhead_placeholder"></span><span class="arrowshaft"></span><span class="arrowhead"></span></div>
                        <span class="reagent_text">{% for bottom_reagent in card["bottom_reagents"] %}{{ bottom_reagent}}{% if loop.revindex != 1 %}{{"{}"}}\:{% endif %}{% endfor %}</span>
                    </div>
                    {% endif %}


                    {% if card["hide"] == 2 %}
                    <div class="side nothidden">
                        {% for iupac in card["image_products"]%}
                        <div class="card_image">
                            <img src='{{ url_for("static", filename="images/" + iupac + ".png") }}'>
                            <p class="compound_title">{{iupac | safe}}</p>
                        </div>
                        {% if loop.revindex != 1 %}
                        <span class="plus">$$ + $$</span>
                        {% endif %}
                        {% endfor %}
                        {% if card["image_products"]|length > 0 and card["nonimage_products"]|length > 0 %}
                        <span class="plus">$$ + $$</span>
                        {% endif %}
                        {% for name in card["nonimage_products"]%}
                        <p class="compound_title">{{name | safe}}</p>
                        {% if loop.revindex != 1 %}
                        <span class="plus">$$ + $$</span>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% if card["back_description"] != '' %}
                <div class="description">
                    <span class="primary">{{ card["back_description"] }}</span>
                </div>
                {% endif %}
            </div>
            {% else %}
            <div class="invisible_flashcard"></div>
            {% endif %}
            {% endfor %}
        </div> 
    </div>
    {% endfor %}

</body>
</html>