<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flashcards</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/flashcards.css") }}'>
</head>
<body>

    <!-- First Page: Fronts -->
    {% for page in card_titles %}
    <div class="page">
        <div class="flashcard_wrapper">
            {% for front in fronts[loop.index0] %}
            {% if front != "" %}
            <div class="flashcard"><img src='{{ url_for("static", filename=front) }}'></div>
            {% else %}
            <div class="invisible_flashcard"></div>
            {% endif %}
            {% endfor %}
        </div> 
    </div>

    <!-- Second Page: Backs -->
    <div class="page">
        <div class="flashcard_wrapper">
            {% for back in backs[loop.index0] %}
            {% if back != "" %}
            <div class="flashcard"><img src='{{ url_for("static", filename=back) }}'></div>
            {% else %}
            <div class="invisible_flashcard"></div>
            {% endif %}
            {% endfor %}
        </div> 
    </div>
    {% endfor %}

</body>
</html>